<md-toolbar color="primary">
    Survey Tool
    <span class="app-toolbar-filler"></span>
	<button md-button [md-menu-trigger-for]="menu">
		{{department.name}}
	</button>

	<md-menu #menu="mdMenu">
		<button md-menu-item *ngFor="let department of departmentsList" (click)="setDepartment(department._id)">{{department.name}}</button>
	</md-menu>
</md-toolbar>

{{diagnostic}}

<form (ngSubmit)="onSubmit()">
	<div class="app-content">
		<question *ngFor="let question of questions; let i = index;" [question]="question" [index]="i"></question>
	</div>

	<span class="app-action" [class.m2app-dark]="isDarkTheme">
	  <button type="submit" md-fab><md-icon>check circle</md-icon></button>
	</span>
</form>