<md-slide-toggle>
  Enable Question
</md-slide-toggle>
	<md-input placeholder="Question"></md-input><br>
	<md-textarea placeholder="Description"></md-textarea><br>
<p class="mui--text-dark-hint mui--text-subhead">Question Type</p>
<button md-button [md-menu-trigger-for]="questiontype_menu">
	Text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</button>
<md-menu #questiontype_menu="mdMenu">
	<button md-menu-item value="department1">Text</button>
	<button md-menu-item value="department1">Number</button>
	<button md-menu-item value="department1">YesNo</button>
	<button md-menu-item value="department1">Multiple Choice (Single Select)</button>
	<button md-menu-item value="department1">Multiple Choice (Multi Select)</button>
</md-menu>
<md-divider></md-divider>
<p class="mui--text-dark-hint mui--text-subhead">Department</p>
<button md-button [md-menu-trigger-for]="department_menu">
	Information Security
</button>
<md-menu #department_menu="mdMenu">
	<button md-menu-item value="department1"><span><md-icon> done </md-icon>Information Security</span></button>
	<button md-menu-item value="department1"><span><md-icon> done </md-icon>Data Center and Networks</span></button>
	<button md-menu-item value="department1"><span><md-icon> &nbsp; </md-icon>Global Platform Hosting</span></button>
</md-menu>